<app-titulo-dialog [titulo]="titulo"></app-titulo-dialog>
<div class="container-fluid main">
  <div class="content-info col-12 d-flex aling-items-center justify-content-center">
    <div class="evidence">
        <img src="\assets\img\ingetec-logo.svg">
        <img src="\assets\img\oerson-icon.svg">

    </div>

  </div>
<div class="options col-12 justify-content-center">
  <button mat-flat-button
          class="col-xs-3"
          type="button"
          color="warn"
          matTooltip="Cerrar modal"
          (click)="cerrar()"
    >
    Cerrar<mat-icon class="icon">close</mat-icon>&nbsp;
  </button>
</div>



<ngx-spinner
    bdColor = "rgba(14,14,14,0.8)"
    size = "large"
    color = "#9ad424"
    type = "square-jelly-box"
    [fullScreen] = "false">
    <p style="color: white" > Cargando, espere por favor </p>
</ngx-spinner>