@use 'src/assets/sass/general.scss' as g;

.options{
    display: flex;
    gap: 1rem 1rem;
}

.menu-button{
    // display: flex;
    width: 80%;
    mat-icon{
        width: 100%;
    }
}

.descargar-all{
    background: g.$ingetec-aprobe;
    width: 100%;
    color: #ffff;
    font-family: 'Montserrat';
    // mat-icon{
    //     // width: 100%;
    //     // color: #ffff;
    // }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 1.5em !important;
}
.row > * {
    padding-left: 0 1rem 0 1rem !important; 
}

.form-filtro{
    border-radius: 4px;
    border: 1px solid #00000026;
    box-shadow: 0 1px 3px #00000040;
    // height: calc(70vh - 200px);
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 1rem;
    bottom: 1rem;
    width: 100%;
    // gap: 0 5rem;
    mat-label{
        font-size: 1.2rem;
        font-family: 'Gotham-Medium';
        color: rgb(66, 66, 66);

    }
    input{
        color: rgb(111, 109, 109);
        font-size: 1.3rem;
        font-family: 'AvenirLTStd-Book';
        padding: 0.6rem 0;
        border-radius: 4rem;
        font-weight: bold;
    }
    .text-filtro{
      font-size: 1.5rem;
      color: g.$ingetec-gray-dark;
      font-family: g.$ff-avenirLTStd-book;
      padding: 8px 0 4px 0;
    }
    span{
        font-size: 2rem;
    }
}