@use 'src/assets/sass/general.scss' as g;

// .options{
//     display: flex;
//     gap: 1rem 1rem;
// }

// .menu-button{
//     // display: flex;
//     width: 80%;
//     mat-icon{
//         width: 100%;
//     }
// }

.descargar-all{
    background: g.$ingetec-aprobe;
    width: 100%;
    color: #ffff;
    font-family: 'Montserrat';
    // mat-icon{
    //     // width: 100%;
    //     // color: #ffff;
    // }
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 1.5em !important;
}
.row > * {
    padding-left: 0 1rem 0 1rem !important; 
}

.form-filtro{
    border-radius: 2rem;
    border-style: dotted;
    border-width: 2px;
    border-color: g.$ingetec-aprobe;
    width: 90%;
    padding: 2rem;
    margin: 0 0 2rem 0;
}



    
    .rango{
      display: flex;

    //   border: solid 1.5px g.$ingetec-green;
      padding: 2rem 0 0 0;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem 1rem;
      align-content: center;
      justify-content: center;
      align-items: center;
      width: 100%;

    }

    .items-busqueda{
        display: flex;
        flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
    mat-form-field{
        color: g.$ingetec-green;
        font-size: 2rem;
        // background: #ffff;

    } 

    mat-label{
        color: rgb(0, 0, 0);
        font-size: 1.3rem;
    } 

    mat-datepicker-toggle{
        color: rgb(0, 0, 0);
    }
    mat-datepicker{
        font-size: 2rem;
    }
    button{
        width: 100%;
        background-color: g.$ingetec-aprobe;
        padding: 0.4rem;
        border-radius: 3rem;
        margin: 1rem 0;
        border: none;
        color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }