<div class="content-body title-container">
  
  <div  class="logo-sunarp">
    <img src="\assets\img\ingetec-logo.svg">

    <!-- <button mat-stroked-button
      color="$sunarp-gray-dark"
      class="bg-white border-none button-bold"
      [routerLink]="['../inicio']">
      <mat-icon class="icon">arrow_back</mat-icon>&nbsp;Regresar
    </button> -->
  </div>

  

  <div class="button-title">
    <div class="nombre-title">
      <h1>{{title | uppercase}}</h1>
    </div>

    <div class="circle-gira"
    [style.background]="color"
    >
    </div>
    <div class="title"
      [style.background-color]="color"
    >
      <mat-icon>history_edu</mat-icon>
    </div>
    
    <div class="circle-gira2"
    [style.background]="color"
    >
    </div>
  </div>

</div>



