@use 'src/assets/sass/general.scss' as g;

.form-requisitos{
    background: #f3f3f3;
    padding: 0.7rem ;
    margin: 0rem 0rem 2rem 0;
    width: 93%;
    border: none;
    mat-label{
        font-size: 1.5rem;
        font-family: 'AvenirLTStd-Book';
        color: rgb(66, 66, 66);
    }
}



table{
    border: none;
}

.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 4rem;
    mat-icon{
        font-size: 2.4rem;
        margin: 0rem 0 0 1rem;
    }
}

.form-descripcion{
    margin: 0rem 0rem 2rem 0;
}

.form-inf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 2rem 0;

    .form-item{
        width: 100%;
    }
    button{
        width: 100%;
    }
    mat-label{
        font-size: 1.5rem;
    }
    .form-tasa{
        width: 100%;
        flex-wrap: wrap;
        background: #f3f3f3;
        label{
            font-family: 'AvenirLTStd-Book';
            font-size: 1.3rem;
            font-weight: 0.1px;
            color: #323C37;
        }
        .td-label{
            mat-icon{
                position: absolute;
                color: g.$ingetec-green;
                font-size: 2.2rem;
                margin: -0.2rem 0 0 0.4rem;
            }
        }
        table{
            border: none;
        }
        .td-tasa{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                width: 4rem;
                height: 4rem;
                margin: 1.2rem 0;
            }
        }
        
        .tasa-button{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 0.9rem;
            border: none;
            color: g.$ingetec-white;
            font-weight: bold;
        }
        .add{
            background-color: g.$ingetec-green;
        }
        .delete{
            background-color: g.$ingetec-red;
        }
    }
}

mat-icon{
    justify-content: center;
    align-items: center;
    text-align: center;
}

// cargar-pdf
.confirm-button {  
    text-align: center;  
    margin: 0rem 0rem 2rem 0rem;  
} 


svg .labelSVG{
    fill: #fff;
    font-size: 4rem;
    font-weight: bold;
}
.inputfile {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}



.btn-evidence {  
    background-color: rgba(43, 62, 60, 1);  
    color:white;  
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2rem;
    font-size: 1.1rem;
    overflow: hidden;
    white-space: initial;
    overflow-wrap: break-word;
    padding: 0.9rem 1.5rem;  

}  

mat-icon{
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn-evidence:hover {
    background-color: #a94242;
}


// registar-button

.btn-register {  
    background-color: rgba(0, 165, 165, 1);  
    color:white;  
    width: 100%;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 0.9rem 1.5rem;  
} 



// abrir calendary de fecha
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    width: 100%;
    margin: .8rem 0;
}




@media (max-width:990px){

    .d-flex {
        display: -ms-flexbox !important;
        display: flex!important;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    .content-info{
        width: 100%;
        padding: 0;
    }
    .button-bold{
        display: flex;
    }


    .form-inf{
        display: flexbox;
        width: 100%;

    }

}
