<div class="content">
  <app-title-frame
  [title]="'INGRESE DATOS EN EL FORMULARIO'"
  [numero]="1"
  ></app-title-frame> 
    
  <form class="content-info col-12 d-flex justify-content-center">
      <!-- <p>INGRESA LOS DATOS REQUERIDOS</p> -->
      <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row form-inf">
              <mat-vertical-stepper [linear]="false" #stepper  class="col-md-12">
                  <mat-step>
                    <form [formGroup]="SedeFormGroup">
                      <ng-template matStepLabel>Sede</ng-template>
                      <mat-form-field  class="col-md-12" appearance="fill">
                          <mat-label>Seleccione Sede</mat-label>
                          <mat-select [formControl]="sede" >
                            <mat-option *ngFor="let sede of sedesList" [value]="sede">
                              {{sede}}</mat-option>
                          </mat-select>
                      </mat-form-field>
                      <p>
                        Sede Seleccionada: {{sede.value}}
                      </p>
                    </form>
                  </mat-step>
                  <mat-step >
                    <form>
                      <ng-template matStepLabel>Integrantes del Equipo</ng-template>

                      <mat-form-field  class="col-md-12" appearance="fill" [formGroup]="LiderFormGroup">
                        <mat-label>Lider de Equipo</mat-label>

                        <mat-select [formControl]="lider">
                          <mat-option *ngFor="let lider of integrantesList" [value]="lider">
                            {{lider}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field class="col-md-12" appearance="fill" [formGroup]="IntegrantesFormGroup">
                        <mat-label>Integrantes del equipo</mat-label>

                        <mat-select [formControl]="integrantes" 
                        [multiple]="true" 
                        [(ngModel)]="selectedIntegrantes" 
                        #integrantesSelect
                        #multiSelect>

                        <button 
                        mat-raised-button 
                        class="mat-primary fill text-sm" 
                        (click)="selectAll(integrantesSelect, integrantesList, selectedIntegrantes)">
                        Selecciona todo
                        </button>
                        <button 
                        mat-raised-button 
                        class="mat-accent fill text-sm" 
                        (click)="deselectAll(integrantesSelect)">
                        Elimina a todos
                        </button>
                          <mat-option  
                                      [value]="integrantes" 
                                      *ngFor="let integrantes of integrantesList" 
                                      >
                                      {{integrantes}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                        <p>
                          Lider de Equipo: {{lider.value}}
                        </p>

                        <p >
                          Integrantes de equipo
                        </p>

                        <ul  
                        *ngFor="let integrantes of integrantesSelect?.value">
                          {{integrantes}}
                        </ul>


    
                    </form>
                  </mat-step>

                  <mat-step>
                      <form>
                        <ng-template matStepLabel>Actividades</ng-template>

                        <mat-form-field class="col-md-12 date" appearance="fill" [formGroup]="FechaFormGroup">
                          <mat-label>Ingrese Fecha de Actividad</mat-label>
                          <input matInput [matDatepicker]="picker">
                          <div>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </div>
      
                        </mat-form-field>

                        <mat-form-field  class="col-md-12" appearance="fill" [formGroup]="SegmentoFormGroup">
                            <mat-label>Segmento Realizado</mat-label>
                            <mat-select>
                              <mat-option value="primary">CONEXIONES NUEVAS BT</mat-option>
                              <mat-option value="primary">REINSTALACION DE SERVICIO RS</mat-option>
                              <mat-option value="primary">ACTIVIDADES COMERCIALES COMPLEMENTARIAS AC</mat-option>
                              <mat-option value="primary"> ... </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field  class="col-md-12" appearance="fill" [formGroup]="ActividadFormGroup">
                          <mat-label>Seleccione Actividad Realizada (puede ser mas de uno)</mat-label>
                          <mat-select>
                            <mat-option value="primary">Aéreo Monofásico</mat-option>
                            <mat-option value="primary">Aéreo Trifásico</mat-option>
                            <mat-option value="primary">Subterráneo Monofásico sin rotura ni resane de vereda</mat-option>
                            <mat-option value="primary"> ... </mat-option>
                          </mat-select>
                        </mat-form-field>

                          <!-- <mat-label class="col-md-12" style="text-align: center;" [formGroup]="CantidadFormGroup">Cantidades</mat-label>
                          <ul class="col-md-12" style="text-align: center;">Solo puede ingresar cantidades en número</ul>


                          <mat-form-field  class="col-md-6" appearance="fill" >
                            <mat-label>Cantidad URBANO</mat-label>
                            <input matInput type="number">
                          </mat-form-field>
                          <mat-form-field class="col-md-6"  appearance="fill">
                            <mat-label>Cantidad RURAL</mat-label>
                            <input matInput type="number">
                          </mat-form-field> -->


                          <div class="col-md-12" style="text-align: center;" [formGroup]="CantidadFormGroup" >
                            <mat-label>Cantidades</mat-label> (Click en (+) para agregar nueva tasa)
                            <table class="form-cantidad table"  formArrayName="cantidades">
                              <tr>
                                <td>
                                  Urbano
                                  <input type="number" [formControl]="rural" class="form-control col-md-6" required>
                                </td>
                                <td>
                                  Rural
                                  <input type="number" [formControl]="urbano" class="form-control col-md-6" required>
                                </td>
                                <td class="td-cantidad">
                                  <button type="button"
                                          (click)="agregarCantidades()"
                                          class="cantidad-button add"
                                          matTooltip="Agregar nueva cantidad">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                </td>
                              </tr>
                              <tr *ngFor="let cantidad of cantidades().controls; let i=index" [formGroupName]="i">
                                <td class="td-label">
                                  <label>Cantidad de Rural agregada</label>  <mat-icon>check_circle_outline</mat-icon>
                                    <input type="number" formControlName="cantidad_rural" class="form-control">
                                    {{ value }}

                                </td>
                                <td class="td-label">
                                  <label>Cantidad en Urbano agregado</label> <mat-icon>check_circle_outline</mat-icon>
                                    <input type="number" formControlName="cantidad_urbano" class="form-control">
                                </td>
                                <td class="td-cantidad">
                                    <button (click)="quitarCantidades(i)"
                                            class="cantidad-button delete"
                                            matTooltip="Eliminar cantidad"
                                            type="button">
                                      <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                              </tr>
                            </table>
                          </div>

                      </form>
                  </mat-step>

                  <mat-step>
                    <ng-template matStepLabel>ENVIAR</ng-template>
                    Para enviar el FORMULARIO haga click en "Guardar"
                    <div>
                    <!-- <button mat-button matStepperPrevious>Anterior</button> -->
                    <div class="options col-12 justify-content-center">
                        <button
                            mat-flat-button
                            class="mt-4 m-1 mb-3 col-xs-3 br-40px"
                            type="button"
                            color="primary"
                            >
                            Guardar<mat-icon class="icon">save</mat-icon>&nbsp;
                        </button>
                    </div>
                      <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
                    </div>
                  </mat-step>
              </mat-vertical-stepper>
          </div>
      </div>     
  </form>
      
      
      
          <!-- <button mat-flat-button
              class="mt-4 m-1 mb-3"
              type="button"
              color="primary"
              >
              Generar PDF<mat-icon class="icon">picture_as_pdf</mat-icon>&nbsp;
          <input #inputfile type="file" name="file" id="file" class="inputfile" (change)="clearNameInput()" accept=".pdf">
          <mat-label class="btn" for="file">
          {{nameLabel}}
          </mat-label>
          <mat-icon>upload</mat-icon>&nbsp;
          </button> -->
      
      <!-- <div class="options col-12 justify-content-center">
          <button
              mat-flat-button
              class="mt-4 m-1 mb-3 col-xs-3 br-40px"
              type="button"
              color="warn"
              (click)="cerrar()"
              >
              Cerrar<mat-icon class="icon">close</mat-icon>&nbsp;
          </button>
      </div> -->
      
      
  <ngx-spinner
      bdColor = "rgba(14,14,14,0.8)"
      size = "large"
      color = "#9ad424"
      type = "square-jelly-box"
      [fullScreen] = "false">
      <p style="color: white" > Cargando, espere por favor </p>
  </ngx-spinner>
</div>